<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
	<h2>Dashboard</h2>

	<% organizations.forEach(function(o){ %>
		<a href = "/organization/<%= o %>"><%= o %></a>
		<a href = "/organization/edit/<%= o %>">Edit</a>
	<% }) %>
	<br /> <a href = "#">Update Profile</a>
</body>
</html>