<!DOCTYPE html>
<html>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet"> -->

<script>
$( document ).ready(function() {
    $('input[type=checkbox]').click(function(){
    	if (this.checked){
    		console.log(this.value);
    		$(this).parent().append("<input type='text' name='"+ this.value + "'>");
    	}
    });

});

</script>

<style>
body{
    padding-left: 20px;
    padding-right: 20px;
    font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
}
.inputlabel{
	display: inline-block;
	min-width: 150px;
	font-weight: bolder;
	color: #0000cc;
}
[type=text]{
    font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
    padding-left:2%;
    padding-right:2%;
}
select{
    font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
    padding-left:5%;
    padding-right:5%;
}
</style>
    
<body>


<form action="form2.ejs" method="post">
<span class="inputlabel">Organization:</span>
	<input type="text" name="firstname">
<br>
<span class="inputlabel">State:</span>   
	<select name="state">
	    <option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
<br>
    
<span class="inputlabel">Address:</span>
	<input type="text" name="lastname">
<br>
<span class="inputlabel">Asset Size:</span>
	<input type="text" name="asset">
<br>
<span class="inputlabel">Yearly Donation:</span>
	<input type="text" name="yearDonation">
<br>
<span class="inputlabel">Type of Funder: </span>
	<select name="fundertype">
	    <option>Community Foundation</option>
	    <option>Corporate Giving Program</option>
	    <option>Family Foundation</option>
	    <option>Independent Foundation</option>
	    <option>Individual Philanthorpist</option>
	    <option>Operating Foundation</option>
	    <option>Private Foundation</option>
	    <option>Public Charity</option>
	    <option>United Way</option>
	</select>
<br>

<div class="area" id="funding_area">
<span class="inputlabel">Funding Area: </span><br>
	<input type="checkbox" name="fund_area" value="chronic_homelessness">Chronic Homelessness<br>
	<input type="checkbox" name="fund_area" value="domestic_violence">Domestic Violence <br>
	<input type="checkbox" name="fund_area" value="employment">Employment <br>
	<input type="checkbox" name="fund_area" value="families">Families <br>
	<input type="checkbox" name="fund_area" value="lgbt">LGBT <br>
	<input type="checkbox" name="fund_area" value="mental/physical_health">Mental/Physical Health<br>
	<input type="checkbox" name="fund_area" value="older_adults/seniors">Older Adults/Seniors <br>
	<input type="checkbox" name="fund_area" value="reentry_criminal_justice">Reentry from Criminal Justice System <br>
	<input type="checkbox" name="fund_area" value="rural_population">Rural Population <br>
	<input type="checkbox" name="fund_area" value="veterans">Veterans<br>
	<input type="checkbox" name="fund_area" value="youth">Youth/Young Adults
</div>
<br>

   
<div class="area" id="supported_strat_area">
<span class="inputlabel">Supported Strategies: </span><br>
	<input type="checkbox" name="strategies" value="affordable_housing">Affordable Housing <br>
	<input type="checkbox" name="strategies" value="community_plan">Community Plan <br>
	<input type="checkbox" name="strategies" value="emergency_shelter">Emergency Shelter <br>
	<input type="checkbox" name="strategies" value="funding_advocacy">Funding Advocacy <br>
	<input type="checkbox" name="strategies" value="housing_first">Housing First <br>
	<input type="checkbox" name="strategies" value="permanent_supportive_housing">Permanent Supportive Housing <br>
	<input type="checkbox" name="strategies" value="prevention">Prevention <br>
	<input type="checkbox" name="strategies" value="public_education">Public Education <br>
	<input type="checkbox" name="strategies" value="publc_policy">Public Poicy/System Change <br>
	<input type="checkbox" name="strategies" value="rapid_re_housing">Rapid Re-Housing <br>
	<input type="checkbox" name="strategies" value="supportive_services">Supportive Services <br>
	<input type="checkbox" name="strategies" value="transitional_housing">Transitional Housing <br>
	<input type="checkbox" name="strategies" value="workforce">Workforce Development 
</div>
<br>
<button type="submit" class="btn" id = "nextbutton">Next</button>

</form>



</body>
</html>
