<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/topojson.js"></script>
            <script src = "/javascripts/datamaps.usa.min.js"></script>

    <script src="/javascripts/show_us_states.js" style="position: relative; width: 500px; height: 300px;"></script>
  </head>
  <body>
    <select>
  <option value="AL">Chronic homelessness</option>
  <option value="AK">Domestic violence</option>
  <option value="AZ">Employment</option>
  <option value="AR">Families</option>
  <option value="CA">LGBT</option>
  <option value="CO">Mental/physical health</option>
  <option value="CT">Older adults/seniors</option>
  <option value="DE">Reentry from criminal justice system</option>
  <option value="DC">Rural populations</option>
  <option value="FL">Veterans</option>
  <option value="GA">Youth/young adults</option>
</select> 

    <select>
  <option value="AL">Affordable housing</option>
  <option value="AK">Community plan</option>
  <option value="AZ">Emergency shelter</option>
  <option value="AR">Funding advocacy</option>
  <option value="CA">Housing First</option>
  <option value="CO">Permanent supportive housing</option>
  <option value="CT">Prevention</option>
  <option value="DE">Public education</option>
  <option value="DC">Public policy/systems change</option>
  <option value="FL">Rapid Re-housing</option>
  <option value="GA">Supportive services</option>
    <option value="FL">Transitional housing</option>
  <option value="GA">Workforce development</option>
</select> 
    <div id="container"></div>
  </body>
</html>