<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
    <link rel='stylesheet' href='/stylesheets/colorbrewer.css' />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/javascripts/colorbrewer.js"></script>
    <script src="/javascripts/filter.js"></script>

    <!-- Include the Bootstrap Multiselect plugin's CSS and JS: -->
    <script type="text/javascript" src="/javascripts/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css"/>
    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#population-dropdown').multiselect({
              includeSelectAllOption: true,
              buttonText: function(options, select){
                if (options.length === 0) {
                    return 'None Selected ▾';
                }
                else{
                  var labels = [];
                  options.each(function() {
                    if ($(this).attr('label') !== undefined) {
                      labels.push($(this).attr('label'));
                    }
                    else {
                      labels.push($(this).html());
                    }
                  });
                  return labels.join(', ') + ' ▾';
                }
              }
            });
            $('#strategies-dropdown').multiselect({
              includeSelectAllOption: true,
              numberDisplayed: 13,
              buttonText: function(options, select){
                if (options.length === 0) {
                    return 'None Selected ▾';
                }
                else{
                  var labels = [];
                  options.each(function() {
                    if ($(this).attr('label') !== undefined) {
                      labels.push($(this).attr('label'));
                    }
                    else {
                      labels.push($(this).html());
                    }
                  });
                  return labels.join(', ') + ' ▾';
                }
              }
            });
        });
    </script>

    <style>

    </style>

  </head>
  <body>
    <a href = "/form1">Go To Input Form</a>


<h3>Populations</h3>

  <!-- testing stuff out -->
<!--   <select id="population-dropdown" multiple="multiple">
    <option name = "funding_area" value ="Chronic Homelessness">Chronic Homelessness</option>
    <option name = "funding_area" value ="Domestic Violence">Domestic Violence</option>
    <option name = "funding_area" value = "Employment">Employment</option>
    <option name = "funding_area" value = "Families">Families</option>
    <option name = "funding_area" value = "LGBT">LGBT</option>
    <option name = "funding_area" value = "Mental/Physical Health">Mental/Physical Health</option>
    <option name = "funding_area" value = "Older Adults/Seniors">Older Adults/Seniors</option>
    <option name = "funding_area" value = "Reentry from Criminal Justice System">Reentry from Criminal Justice System</option>
    <option name = "funding_area" value = "Rural Populations">Rural Populations</option>
    <option name = "funding_area" value = "Veterans">Veterans</option>
    <option name = "funding_area" value = "Youth/Young Adults">Youth/Young Adults</option>
  </select> -->
  <!-- end of testing stuff -->

  <br>

  <fieldset>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value ="Chronic Homelessness"><label>Chronic Homelessness</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value ="Domestic Violence"><label>Domestic Violence</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Employment"><label>Employment</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Families"><label>Families</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "LGBT"><label>LGBT</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Mental/Physical Health"><label>Mental/Physical Health</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Older Adults/Seniors"><label>Older Adults/Seniors</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Reentry from Criminal Justice System"><label>Reentry from Criminal Justice System</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Rural Populations"><label>Rural Populations</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Veterans"><label>Veterans</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "funding_area" value = "Youth/Young Adults"><label>Youth/Young Adults</label>
    </div>
  </fieldset>
<h3>Supported Strategies</h3>

  <!-- testing stuff out -->
<!--   <select id="strategies-dropdown" multiple="multiple">
    <option name = "supported_strategies" value ="Affordable Housing">Affordable Housing</option>
    <option name = "supported_strategies" value ="Community Plan">Community Plan</option>
    <option name = "supported_strategies" value = "Emergency Shelter">Emergency Shelter</option>
    <option name = "supported_strategies" value = "Funding Advocacy">Funding Advocacy</option>
    <option name = "supported_strategies" value = "Housing First">Housing First</option>
    <option name = "supported_strategies" value = "Permanent Supportive Housing">Permanent Supportive Housing</option>
    <option name = "supported_strategies" value = "Prevention">Prevention</option>
    <option name = "supported_strategies" value = "Public Education">Public Education</option>
    <option name = "supported_strategies" value = "Public Policy/Systems Change">Public Policy/Systems Change</option>
    <option name = "supported_strategies" value = "Rapid Re-Housing">Rapid Re-Housing</option>
    <option name = "supported_strategies" value = "Supportive Services">Supportive Services</option>
    <option name = "supported_strategies" value = "Transitional Housing">Transitional Housing</option>
    <option name = "supported_strategies" value = "Workforce Development">Workforce Development</option>
  </select> -->
  <!-- end of testing stuff out -->

  <br>
  <fieldset>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value ="Affordable Housing"><label>Affordable Housing</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value ="Community Plan"><label>Community Plan</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Emergency Shelter"><label>Emergency Shelter</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Funding Advocacy"><label>Funding Advocacy</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Housing First"><label>Housing First</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Permanent Supportive Housing"><label>Permanent Supportive Housing</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Prevention"><label>Prevention</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Public Education"><label>Public Education</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Public Policy/Systems Change"><label>Public Policy/Systems Change</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Rapid Re-Housing"><label>Rapid Re-Housing</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Supportive Services"><label>Supportive Services</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Transitional Housing"><label>Transitional Housing</label>
    </div>
    <div class="checkbox">
      <input type = "checkbox" name = "supported_strategies" value = "Workforce Development"><label>Workforce Development</label>
    </div>
  </fieldset>

  <h3>Year:</h3>
  <select id="year">
      <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
    <option value="1999">1999</option>
    <option value="1998">1998</option>
    <option value="1997">1997</option>
  </select>

<h3>View Funding towards different areas</h3>
Populations: 
    <select id="populations">
      <option selected="selected" value="All">All</option>
      <option value="Chronic Homelessness">Chronic Homelessness</option>
      <option value="Domestic Violence">Domestic Violence</option>
      <option value="Employment">Employment</option>
      <option value="Families">Families</option>
      <option value="LGBT">LGBT</option>
      <option value="Mental/Physical Health">Mental/Physical Health</option>
      <option value="Older Adults/Seniors">Older Adults/Seniors</option>
      <option value="Reentry from Criminal Justice System">Reentry from Criminal Justice System</option>
      <option value="Rural Populations">Rural Populations</option>
      <option value="Veterans">Veterans</option>
      <option value="Youth/Young Adults">Youth/Young Adults</option>
    </select>

Supported Strategies: 
    <select id="strategies">
      <option selected="selected" value="All">All</option>
      <option value="Affordable Housing">Affordable Housing</option>
      <option value="Community Plan">Community Plan</option>
      <option value="Emergency Shelter">Emergency Shelter</option>
      <option value="Funding Advocacy">Funding Advocacy</option>
      <option value="Housing First">Housing First</option>
      <option value="Permanent Supportive Housing">Permanent Supportive Housing</option>
      <option value="Prevention">Prevention</option>
      <option value="Public Education">Public Education</option>
      <option value="Public Policy/Systems Change">Public Policy/Systems Change</option>
      <option value="Rapid Re-Housing">Rapid Re-Housing</option>
      <option value="Supportive Services">Supportive Services</option>
      <option value="Transitional Housing">Transitional Housing</option>
      <option value="Workforce Development">Workforce Development</option>
    </select>


    <div id="legend">Total Annual Grantmaking</div>
    <div id="container"></div>

         <div id="tooltip" class="hidden">
      <p><span id="text"></span></p>
     <button id="close">Close</button>
    </div>




  </body>
</html>