<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/topojson.js"></script>
            <script src = "/javascripts/datamaps.usa.min.js"></script>

    <script src="/javascripts/show_us_states.js" style="position: relative; width: 500px; height: 300px;"></script>
    <script src="/javascripts/filter.js"></script>
  </head>
  <body>
    <select id = "funding_area">
      <option selected="selected" disabled="disabled">Funding Area</option>
  <option value="Chronic homelessness">Chronic homelessness</option>
  <option value="Domestic violence">Domestic violence</option>
  <option value="employment">Employment</option>
  <option value="families">Families</option>
  <option value="lgbt">LGBT</option>
  <option value="mental_health">Mental/physical health</option>
  <option value="older_adults">Older adults/seniors</option>
  <option value="reentry">Reentry from criminal justice system</option>
  <option value="rural">Rural populations</option>
  <option value="veterans">Veterans</option>
  <option value="youth">Youth/young adults</option>
</select> 
<p>Funding Area</p>
  <input type = "checkbox" name = "funding_area" value ="Chronic homelessness">Chronic homelessness<br/>
  <input type = "checkbox" name = "funding_area" value ="Domestic violence">Domestic violence<br/>
  <input type = "checkbox" name = "funding_area" value = "Employment">Employment<br/>
  <input type = "checkbox" name = "funding_area" value = "Families">Families<br/>
  <input type = "checkbox" name = "funding_area" value = "LGBT">LGBT<br/>
  <input type = "checkbox" name = "funding_area" value = "Mental/physical health">Mental/physical health<br/>
  <input type = "checkbox" name = "funding_area" value = "Older adults/seniors">Older adults/seniors<br/>
  <input type = "checkbox" name = "funding_area" value = "Reentry from criminal justice system">Reentry from criminal justice system<br/>
  <input type = "checkbox" name = "funding_area" value = "Rural populations">Rural populations</br>
  <input type = "checkbox" name = "funding_area" value = "Veterans">Veterans</br>
  <input type = "checkbox" name = "funding_area" value = "Youth/young adults">Youth/young adults</br>

<p>Supported Strategies</p>
  <input type = "checkbox" name = "supported_strategies" value ="Affordable housing">Affordable housing<br/>
  <input type = "checkbox" name = "supported_strategies" value ="Community plan">Community plan<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Emergency shelter">Emergency shelter<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Funding advocacy">Funding advocacy<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Housing First">Housing First<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Permanent supportive housing">Permanent supportive housing<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Prevention">Prevention<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Public education">Public education<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Public policy/systems change">Public policy/systems change</br>
  <input type = "checkbox" name = "supported_strategies" value = "Rapid Re-housing">Rapid Re-housing</br>
  <input type = "checkbox" name = "supported_strategies" value = "Supportive services">Supportive services</br>
  <input type = "checkbox" name = "supported_strategies" value = "Transitional housing">Transitional housing</br>
  <input type = "checkbox" name = "supported_strategies" value = "Workforce development">Workforce development</br>

    <select>
      <option selected="selected" disabled="disabled">Funding Type</option>
  <option value="community_foundation">Community Foundation</option>
  <option value="corporate_giving">Corporate giving program</option>
  <option value="family">Family foundation</option>
  <option value="independent">Independent foundation</option>
  <option value="individual">Individual philanthropist</option>
  <option value="operating">Operating foundation</option>
  <option value="private">Private foundation</option>
  <option value="public">Public charity</option>
  <option value="united">United way</option>
</select> 
    <div id="container"></div>
  </body>
</html>