<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/topojson.js"></script>
            <script src = "/javascripts/datamaps.usa.min.js"></script>

    <!--<script src="/javascripts/show_us_states.js" style="position: relative; width: 500px; height: 300px;"></script>-->
    <script src="/javascripts/filter.js"></script>
  </head>
  <body>
<p>Funding Area</p>
  <input type = "checkbox" name = "funding_area" value ="Chronic Homelessness">Chronic Homelessness<br/>
  <input type = "checkbox" name = "funding_area" value ="Domestic Violence">Domestic Violence<br/>
  <input type = "checkbox" name = "funding_area" value = "Employment">Employment<br/>
  <input type = "checkbox" name = "funding_area" value = "Families">Families<br/>
  <input type = "checkbox" name = "funding_area" value = "LGBT">LGBT<br/>
  <input type = "checkbox" name = "funding_area" value = "Mental/Physical health">Mental/Physical health<br/>
  <input type = "checkbox" name = "funding_area" value = "Older Adults/Seniors">Older Adults/Seniors<br/>
  <input type = "checkbox" name = "funding_area" value = "Reentry from Criminal Justice System">Reentry from Criminal Justice System<br/>
  <input type = "checkbox" name = "funding_area" value = "Rural Populations">Rural Populations</br>
  <input type = "checkbox" name = "funding_area" value = "Veterans">Veterans</br>
  <input type = "checkbox" name = "funding_area" value = "Youth/Young adults">Youth/Young adults</br>

<p>Supported Strategies</p>
  <input type = "checkbox" name = "supported_strategies" value ="Affordable housing">Affordable Housing<br/>
  <input type = "checkbox" name = "supported_strategies" value ="Community plan">Community Plan<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Emergency shelter">Emergency Shelter<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Funding advocacy">Funding Advocacy<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Housing First">Housing First<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Permanent Supportive Housing">Permanent Supportive Housing<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Prevention">Prevention<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Public Education">Public Education<br/>
  <input type = "checkbox" name = "supported_strategies" value = "Public Policy/Systems Change">Public Policy/Systems Change</br>
  <input type = "checkbox" name = "supported_strategies" value = "Rapid Re-Housing">Rapid Re-Housing</br>
  <input type = "checkbox" name = "supported_strategies" value = "Supportive Services">Supportive Services</br>
  <input type = "checkbox" name = "supported_strategies" value = "Transitional Housing">Transitional Housing</br>
  <input type = "checkbox" name = "supported_strategies" value = "Workforce Development">Workforce Development</br>

    <select>
      <option selected="selected" disabled="disabled">Funding Type</option>
  <option value="community_foundation">Community Foundation</option>
  <option value="corporate_giving">Corporate giving program</option>
  <option value="family">Family foundation</option>
  <option value="independent">Independent foundation</option>
  <option value="individual">Individual philanthropist</option>
  <option value="operating">Operating foundation</option>
  <option value="private">Private foundation</option>
  <option value="public">Public charity</option>
  <option value="united">United way</option>
</select> 
    <div id="container"></div>
    <div id="tooltip" class="hidden">
      <p><span id="value">100</span></p>
    </div>
  </body>
</html>