<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map_style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/topojson.js"></script>
            <script src = "/javascripts/datamaps.usa.min.js"></script>

    <script src="/javascripts/show_us_states.js" style="position: relative; width: 500px; height: 300px;"></script>
  </head>
  <body>
    <select>
      <option selected="selected" disabled="disabled">Funding Area</option>
  <option value="chronic_homelessness">Chronic homelessness</option>
  <option value="domestic_violence">Domestic violence</option>
  <option value="employment">Employment</option>
  <option value="families">Families</option>
  <option value="lgbt">LGBT</option>
  <option value="mental_health">Mental/physical health</option>
  <option value="older_adults">Older adults/seniors</option>
  <option value="reentry">Reentry from criminal justice system</option>
  <option value="rural">Rural populations</option>
  <option value="veterans">Veterans</option>
  <option value="youth">Youth/young adults</option>
</select> 

    <select>
      <option selected="selected" disabled="disabled">Supported Strategies</option>
  <option value="affordable_housing">Affordable housing</option>
  <option value="community_plan">Community plan</option>
  <option value="emergency_shelter">Emergency shelter</option>
  <option value="funding_advocacy">Funding advocacy</option>
  <option value="housing">Housing First</option>
  <option value="permanent">Permanent supportive housing</option>
  <option value="prevention">Prevention</option>
  <option value="public_education">Public education</option>
  <option value="public_policy">Public policy/systems change</option>
  <option value="rapid_rehousing">Rapid Re-housing</option>
  <option value="supportive_services">Supportive services</option>
    <option value="transitional housing">Transitional housing</option>
  <option value="workforce">Workforce development</option>
</select> 

    <select>
      <option selected="selected" disabled="disabled">Funding Type</option>
  <option value="community_foundation">Community Foundation</option>
  <option value="corporate_giving">Corporate giving program</option>
  <option value="family">Family foundation</option>
  <option value="independent">Independent foundation</option>
  <option value="individual">Individual philanthropist</option>
  <option value="operating">Operating foundation</option>
  <option value="private">Private foundation</option>
  <option value="public">Public charity</option>
  <option value="united">United way</option>
</select> 
    <div id="container"></div>
  </body>
</html>