<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.css.map" rel="stylesheet">
    <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="/javascripts/d3.legend.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
<style>
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
  </style>
<script>
$(document).ready(function(){

	/*var w = 400;
	var h = 400;
	var r = h/2;
	var color = d3.scale.category20c();*/

	var org = <%- docs %>;

	$("#org_info").html("Annual Grantmaking: $" + org.annual_grantmaking + "<br/>"
						+ "Funder Type: " + org.funder_type)

				//Width and height
			var w = 800;
			var h = 300;

			//var dataset = [ 5, 10, 20, 45, 6, 25 ];
			var dataset = [];
			var pop_dataset = [];
			var str_dataset = [];
			var populations_total = 0;
			var strategies_total = 0;
	org.populations.forEach(function(pop){
		populations_total += parseFloat(pop.amount)
		pop_dataset.push({label: pop.area, value: parseFloat(pop.amount)});
	})

	dataset.push(populations_total);

	org.supported_strategies.forEach(function(str){
		str_dataset.push({label: str.area, value: parseFloat(str.amount)});
		strategies_total += parseFloat(str.amount);
	})

	dataset.push(strategies_total);


			var outerRadius = h/2;
			var innerRadius = 0;
			var arc = d3.svg.arc()
							.innerRadius(innerRadius)
							.outerRadius(outerRadius);
			
			var pie = d3.layout.pie().value(function(d){return d.value;});
			//Easy colors accessible via a 10-step ordinal scale
			var color = d3.scale.category10();


			if (pop_dataset.length == 0){
				$("#pop_chart").html("No data available")
			}
			else {
						var svg = d3.select("#pop_chart")
						.append("svg")
						.attr("width", w)
						.attr("height", h);	

									//Set up groups
			var arcs = svg.selectAll("g.arc")
						  .data(pie(pop_dataset))
						  .enter()
						  .append("g")
						  .attr("class", "arc")
						  .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")");

			arcs.append("path")
			    .attr("fill", function(d, i) {
			    	return color(i);
			    })
			    .attr("data-legend",function(d,i) { return pop_dataset[i].label})
			    .attr("d", arc);

			    			arcs.append("text")
			    .attr("transform", function(d) {
			    	return "translate(" + arc.centroid(d) + ")";
			    })
			    .attr("text-anchor", "middle")
			    .text( function(d) {
    				return "$" + d.value;
			    });

			    			 legend = svg.append("g")
  				.attr("class","legend")
  				.attr("transform","translate(330,30)")
  				.style("font-size","12px")
  				.call(d3.legend)
			}

			if (str_dataset.length == 0){
				$("#str_chart").html("No data available")
			}
			//Create SVG element
			else {

			var svg2 = d3.select("#str_chart")
						.append("svg")
						.attr("width", w)
						.attr("height", h);



			var arcs2 = svg2.selectAll("g.arc")
						  .data(pie(str_dataset))
						  .enter()
						  .append("g")
						  .attr("class", "arc")
						  .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")");
			
			//Draw arc paths

			arcs2.append("path")
			    .attr("fill", function(d, i) {
			    	return color(i);
			    })
			    .attr("data-legend",function(d,i) { return str_dataset[i].label})
			    .attr("d", arc);
			
			//Labels


			 arcs2.append("text")
			    .attr("transform", function(d) {
			    	return "translate(" + arc.centroid(d) + ")";
			    })
			    .attr("text-anchor", "middle")
			    .text( function(d) {
    				return "$" + d.value;
			    });

			legend2 = svg2.append("g")
  				.attr("class","legend")
  				.attr("transform","translate(330,30)")
  				.style("font-size","12px")
  				.call(d3.legend)
  		}

})
</script>
</head>
<body>

	    <div class="masthead">
      <div id="first">
        <a href="http://www.funderstogether.org/">
          <img id="funder_logo" src="http://d3n8a8pro7vhmx.cloudfront.net/funderstogether/sites/1/meta_images/original/funderstogether-logo.png?1389484084">
        </a>
      </div>
      <div id="second_header">
        <p id="tagline">
          A national network of funders supporting strategic, innovative, and effective solutions to homelessness
        </p>
        <ul id="soc_icons">
          <a href="https://www.facebook.com/funderstogether">
            <li class="fa fa-facebook-square fa-2x"></li>
          </a>
          <a href="https://twitter.com/funderstogether">
            <li class="fa fa-twitter-square fa-2x"></li>
          </a>
          <a href="http://www.linkedin.com/groups/Funders-Together-End-Homelessness-742397">
            <li class="fa fa-linkedin-square fa-2x"></li>
          </a>
        </ul>
      </div>
    </div>

	<div class="main_container">
<h2>Organization Info</h2>
<div id = "org_info">
</div>

<h3>Populations</h3>
<div id="pop_chart">
</div>
<h3>Supported Strategies</h3>
<div id="str_chart">
</div>
<a href = "/">Back to Map</a>
</div>

 <div id="container-footer">
      <div class="container">
        <ul>
          <li><a href="http://www.funderstogether.org/contact_us">CONTACT</a></li>
          <li><a href="http://www.funderstogether.org/press">PRESS</a></li>
          <li><a href="http://www.funderstogether.org/careers">CAREERS</a></li>
        </ul>

        <div id="topContent" class="container">
          <div class="center cleared-floats">
            <p>Funders Together to End Homelessness<br>89 South Street, 8th Floor |&nbsp;Boston, MA 02111 |&nbsp;617.245.0314 |&nbsp;info@funderstogether.org
              <br>
              <br>Copyright 2013 Funders Together to End Homelessness
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>