<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.css.map" rel="stylesheet">
    <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.css.map" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
     <script src='/javascripts/login.js'></script>

    <style>
        .row{
            padding-bottom:20px;
            font-family: 'Oswald', sans-serif;
            color: #666666;
        }

        input{
            margin-bottom:10px;
            font-family: "Source Sans Pro",sans-serif;
        }

        input[type=submit]{
            background-color: #d6ef87;
            border-color: #d6ef87;
        }

        textarea{
            margin-bottom:10px;
            font-family: "Source Sans Pro",sans-serif;
        }
    </style>
</head>

<body>

    <div class="masthead">
      <div id="first">
        <a href="http://www.funderstogether.org/">
          <img id="funder_logo" src="http://d3n8a8pro7vhmx.cloudfront.net/funderstogether/sites/1/meta_images/original/funderstogether-logo.png?1389484084">
        </a>
      </div>
      <div id="second_header">
        <p id="tagline">
          A national network of funders supporting strategic, innovative, and effective solutions to homelessness
        </p>
        <ul id="soc_icons">
          <a href="https://www.facebook.com/funderstogether">
            <li class="fa fa-facebook-square fa-2x"></li>
          </a>
          <a href="https://twitter.com/funderstogether">
            <li class="fa fa-twitter-square fa-2x"></li>
          </a>
          <a href="http://www.linkedin.com/groups/Funders-Together-End-Homelessness-742397">
            <li class="fa fa-linkedin-square fa-2x"></li>
          </a>
        </ul>
      </div>
    </div>

    <div id="hidden_div" style="display: none;">
      <input type="hidden" id="token" value =<%= token%>></input>
    </div>

    <div class = "row">
      <!-- Flash message -->
      <% if (error) {%>
        <br />
        <div class="row">
          <div class="col-sm-1"></div>
          <div class='alert alert-danger col-sm-10' role='alert'>
            <%=message %> 
          </div>
        </div>
      <% } %>

        <div class = 'col-sm-3'></div>
        <div class = 'col-sm-6 centered'>
            <form id='password_reset_form'>
                <h2 class="form-signin-heading"> Reset Your Password </h2>
                <h3 class ="form-signin-heading">New Password</h3>
                <input type="password" id="password1" placeholder="New Password" class="form-control" required >
                <h3 class ="form-signin-heading">Confirm Password</h3>
                <input type="password" id="password2" placeholder="Confirm Password" class="form-control" required>
                <br>
                <input type="submit" value="Update Password" class="btn btn-lg btn-primary btn-block">
            </form>
        </div>
    </div> 

    <div id="container-footer">
    <div class="container">
      <ul>
        <li><a href="http://www.funderstogether.org/contact_us">CONTACT</a></li>
        <li><a href="http://www.funderstogether.org/press">PRESS</a></li>
        <li><a href="http://www.funderstogether.org/careers">CAREERS</a></li>
      </ul>
      <br>
      <br>
      <div id="topContent" class="container">
        <div class="center cleared-floats">
          <p>Funders Together to End Homelessness<br>89 South Street, 8th Floor |&nbsp;Boston, MA 02111 |&nbsp;617.245.0314 |&nbsp;info@funderstogether.org
            <br>
            <br>Copyright 2013 Funders Together to End Homelessness
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>