        #container {
            width: 1000px;
            height: 700px;
        }
        

.state:hover {
	stroke:#f00;
	stroke-width: 2px;
}
        .SvgOverlay {
        }
        
        .SvgOverlay, .SvgOverlay svg {
            position: absolute;
        top: -500px;
        left: -500px;
        padding: 1000px; 
        }
        
        .SvgOverlay path {
            stroke: Blue;
            stroke-width: 2px;
            fill: Blue;
            fill-opacity: .3;
        }   
        div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;      
}