#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        /*pointer-events: none;*/
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

#legend {
    padding: 1.5em 0 0 1.5em;
    float:right;
    width: 80%;
}

#legend2 {
    padding: 1.5em 0 0 1.5em;
    float:right;
    width: 80%;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.node {
  stroke: #000;
}

.container{
  font-family: 'Oswald', sans-serif;
}

.btn{
  font-family: "Source Sans Pro",sans-serif;
}

.form-control{
  font-family: "Source Sans Pro",sans-serif;
}

.checkbox{
  font-family: "Source Sans Pro",sans-serif;
}


.filtering{
  margin-top:2px;
  margin-right:2px;
  padding-left:2px;
  background-color:#edebe3;
  border-radius: 4px;
  font-family: "Source Sans Pro",sans-serif;
}

.legend2 {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}


.background {
  fill: none;
  pointer-events: all;
}

svg{
  margin-top: 20px;
  border: 1px solid #d6ef87;
}


/*#map {
    float: right;
    width: 80%;
}*/

/*header*/

.masthead {
  padding: 3rem 5rem 4rem;
  position: relative;
  font-weight: 300;
  /*text-align: center;*/
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: #004990;
  height: 150px;
}

#first{
  float: left;
  text-align: left;
  padding: 0 0 20px 0;
  margin: 0px 0px 0px 63px;
  margin-left: 0;
  width: 90%;
}

#second_header{
  width: 100%;
  float: left;
  margin-top: -24px;
}

#tagline{
  color: #9abddf;
  font-style: italic;
  font-size: 15px;
  margin: 8px 0px 0px 63px;
  display: block;
  float: left;
  width: 62%;
}

#to-dashboard{
  float:right;
}

#soc_icons{
  float: right;
  margin: 0px 0px 0px 0px;
  width: 152px;
}

.fa{
  color:white;
}







#left {
    padding-left:2%;
    padding-right:1%;
    padding-top:1%;
    padding-bottom: 1%;
    position: relative;
    color: #666666;
    background: #dbe4bd;
    float:left;
    clear:left;
   /* top: 350px;8?
    /*width: 25%;*/
}

#status{
  float:right;
}

#right{
  padding-left:1%;
  padding-right:2%;
  position: relative;
  color: #666666;
  float:left;
  top:-339px;

  /*float:left;*/
  /*width:75%;*/
}

#top {
    background-color:#edebe3;
    padding-left:2%;
    padding-top:1%;
    padding-bottom: 1%;
    padding-right: 1%;
    position:relative;
    float:left;
    margin-bottom: 15px;
}


#container{
  padding-top:50px;
  padding-bottom:50px;
  width: 100%;
}








/*footer*/

  #container-footer {
    /*margin-top: 50px;*/
    color: #fff;
    font-size: 12px;
    background-color: #004990;
    text-align: center;
    padding: 25px;
  }

  #container-footer .containerf ul {
    margin: 0 auto;
    display: inline-block;
    overflow: auto;
  }

  #container-footer .containerf ul li:first-child {
    border: none;
  }

  #container-footer .containerf ul li{
    float: left;
    list-style-type: none;
    border-left: 1px solid #ccc;
    padding: 0 25px;
  }

