

a {
  color: #00B7FF;
}

input{
	font-family: "Source Sans Pro",sans-serif;
}

.masthead {
	padding: 3rem 5rem 4rem;
	position: relative;
	font-weight: 300;
	/*text-align: center;*/
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background: #004990;
	height: 150px;
}

#first{
	float: left;
	text-align: left;
	padding: 0 0 20px 0;
	margin-left: 0;
}

#second_header{
	width: 100%;
	float: left;
	margin-top: -24px;
}

#tagline{
	color: #9abddf;
	font-style: italic;
	font-size: 15px;
	margin: 8px 0px 0px 63px;
	display: block;
	float: left;
	width: 62%;
}

#soc_icons{
	float: right;
	margin: 0px 0px 0px 0px;
	width: 152px;
}

.fa{
	color:white;
}


#main_container {
  padding-top:50px;
  padding-bottom: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Oswald', sans-serif;
}

#decription{
	color: #666666;
	background: #edebe3;
	padding: 20px;
	font-weight:200;
}

#new-user-info{
	font-family: "Source Sans Pro",sans-serif;
}

#welcome-word{
	font-family: 'Oswald', sans-serif;
}

#login_form{
	color: #666666;
	background: #dbe4bd;
	padding: 20px;
}




#container-footer {
	/*margin-top: 50px;*/
	color: #fff;
	font-size: 12px;
	background-color: #004990;
	text-align: center;
	padding: 25px;
}

#container-footer .container ul {
	margin: 0 auto;
	display: inline-block;
	overflow: auto;
}

#container-footer .container ul li:first-child {
	border: none;
}

#container-footer .container ul li {
	float: left;
	list-style-type: none;
	border-left: 1px solid #ccc;
	padding: 0 25px;
}

